html {
    background-color: #9CBDEE;
  }
  /*Mobile Navigation Bar*/
    .nav_toggle {
        position: absolute;
        cursor: pointer;
        margin: 0rem 1rem;
        margin-left: auto;
    }
    img {
        width: 1.5rem;
    }

    .close {
        display: none;
    }

    .menu {
        margin-top: 0.2rem;
    }

    .nav_checkbox {
        display: none;
    }

    .nav_menu {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        margin: 1rem;
    }
    li {
        list-style: none;
        display: none;
    }

    /* Toggle the hamburger menu in mobile view*/
    #nav_checkbox:checked ~ ul.nav_menu li {
        display: block;
    }

    /*Change from menu to close icon on tap*/
    #nav_checkbox:checked ~ label.nav_toggle .close {
        display: block;
    }

    #nav_checkbox:checked ~ label.nav_toggle .menu {
        display: none;
    }
        
    li a {
        display: block;
        color: #000;
        padding-top: 15px;
        text-decoration: none;
    }

    li a.active {
        text-decoration-line: underline;
        color: #151FFF;

    }

    li a:hover:not(.active) {
        text-decoration-line: underline;
        color: #151FFF;
    }
    * {
        box-sizing: border-box;
    }

    /*Project Title*/
    #cooking-title {
        padding-top: 15px;
    }

    /*images*/
    .cooking-picture {
        max-width: 100%;
        width: 300px;
        height: 260px;
        padding-left: 30px;
    }

    /*Desktop view*/
    @media only screen and (min-width: 540px) {
        /*Navigation sidebar*/
        .nav_toggle {
            display: none;
        }

        .nav_menu {
            flex-direction: column;
        }
        li {
            display: block;
        }

        ul {
            list-style-type: none;
            margin: 0px;
            padding: 0px;
            width: 20%;
            /*background-color: #C4C4C4;*/
            position: fixed;
            height: 100%;
            overflow: auto;
        }

        li a {
            display: block;
            color: black;
            
            padding-bottom: 15px;
            padding-left: 5px;
            margin: 0px;
            text-decoration: none;
        }

        li a.active {
            text-decoration-line: underline;
            color: #151FFF;

        }

        li a:hover:not(.active) {
            text-decoration-line: underline;
            color: #151FFF;
        }

        /*Title*/
        #cooking-title {
            position: absolute;
            left: 320px;
            font-size: 150%;
        }

        /*images*/
        .cooking-picture {
            padding: 20px;
        }

        #vid {
            position: absolute;
            left: 650px;
            top: 450px;
        }

        #hgs1 {
            position:absolute;
            left:950px;
            top:450px;
        }
        #hgs2 {
            position:absolute;
            left:350px;
            top:450px;
        }
        #salmon-shrimp {
            position:absolute;
            left:650px;
            top:190px;
        }
        #eggrolls {
            position: absolute;
            left: 650px;
            top: 710px;
        }   

        #coffee {
            position:absolute;
            left:250px;
            top: 190px;
        }

        #oats {
            position:absolute;
            left:1050px;
            top: 190px;
        }

        #noodles {
            position:absolute;
            left: 1050px;
            top: 710px;
        }

        #gym {
            position:absolute;
            left:250px;
            top: 710px;
            height: 400px;
        }


    }
    /*image fade-in*/
    #vid {
        -webkit-animation: fadein 5s; /* Safari, Chrome and Opera > 12.1 */
        -moz-animation: fadein 5s; /* Firefox < 16 */
        -ms-animation: fadein 5s; /* Internet Explorer */
        -o-animation: fadein 5s; /* Opera < 12.1 */
        animation: fadein 5s;
    }

    #hgs1 {
        -webkit-animation: fadein 17s; /* Safari, Chrome and Opera > 12.1 */
        -moz-animation: fadein 17s; /* Firefox < 16 */
        -ms-animation: fadein 17s; /* Internet Explorer */
        -o-animation: fadein 17s; /* Opera < 12.1 */
        animation: fadein 17s;
    }
    #hgs2 {
        -webkit-animation: fadein 11s; /* Safari, Chrome and Opera > 12.1 */
        -moz-animation: fadein 11s; /* Firefox < 16 */
        -ms-animation: fadein 11s; /* Internet Explorer */
        -o-animation: fadein 11s; /* Opera < 12.1 */
        animation: fadein 11s;
    }
    #salmon-shrimp {
        -webkit-animation: fadein 22s; /* Safari, Chrome and Opera > 12.1 */
        -moz-animation: fadein 22s; /* Firefox < 16 */
        -ms-animation: fadein 22s; /* Internet Explorer */
        -o-animation: fadein 22s; /* Opera < 12.1 */
        animation: fadein 22s;
    }
    #eggrolls {
        -webkit-animation: fadein 20s; /* Safari, Chrome and Opera > 12.1 */
        -moz-animation: fadein 20s; /* Firefox < 16 */
        -ms-animation: fadein 20s; /* Internet Explorer */
        -o-animation: fadein 20s; /* Opera < 12.1 */
        animation: fadein 20s;
    }   

    #coffee {
        -webkit-animation: fadein 23s; /* Safari, Chrome and Opera > 12.1 */
        -moz-animation: fadein 23s; /* Firefox < 16 */
        -ms-animation: fadein 23s; /* Internet Explorer */
        -o-animation: fadein 23s; /* Opera < 12.1 */
        animation: fadein 23s;
    }

    #oats {
        -webkit-animation: fadein 14s; /* Safari, Chrome and Opera > 12.1 */
        -moz-animation: fadein 14s; /* Firefox < 16 */
        -ms-animation: fadein 14s; /* Internet Explorer */
        -o-animation: fadein 14s; /* Opera < 12.1 */
        animation: fadein 14s;
    }

    #noodles {
        -webkit-animation: fadein 25s; /* Safari, Chrome and Opera > 12.1 */
        -moz-animation: fadein 25s; /* Firefox < 16 */
        -ms-animation: fadein 25s; /* Internet Explorer */
        -o-animation: fadein 25s; /* Opera < 12.1 */
        animation: fadein 25s;
    }

    #gym {
        -webkit-animation: fadein 8s; /* Safari, Chrome and Opera > 12.1 */
        -moz-animation: fadein 8s; /* Firefox < 16 */
        -ms-animation: fadein 8s; /* Internet Explorer */
        -o-animation: fadein 8s; /* Opera < 12.1 */
        animation: fadein 8s;
    }

    @keyframes fadein {
        from { opacity: 0; }
        to   { opacity: 1; }
      }
      
      /* Firefox < 16 */
      @-moz-keyframes fadein {
        from { opacity: 0; }
        to   { opacity: 1; }
      }
      
      /* Safari, Chrome and Opera > 12.1 */
      @-webkit-keyframes fadein {
        from { opacity: 0; }
        to   { opacity: 1; }
      }
      
      /* Internet Explorer */
      @-ms-keyframes fadein {
        from { opacity: 0; }
        to   { opacity: 1; }
      }
      
      /* Opera < 12.1 */
      @-o-keyframes fadein {
        from { opacity: 0; }
        to   { opacity: 1; }
      }
    